<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Favorites</title>
        {{!-- <link rel="stylesheet" href="../../public/css/favorites-style.css"> --}}
        <link rel="stylesheet" href="/css/favorites-style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="js/main.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>My Favorites List</h1>
        </header>
        <body>
            {{{body}}}
        </body>
        <footer>
            <h1>Created By Anastasios Zacharioudakis</h1>
        </footer>
    </body>
</html>